<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airlangga Journal Database Reviewer</title>
    <link rel="stylesheet" href="reviewer-list-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="reviewer-list-page" id="blur">

        <div class="reviewer-list-box">

            <!-- BAGIAN ATAS (reviewers sama button add)-->
            <div class="reviewer-list-top">
                <div class="top-grid-1">

                    <div class="top-grid-1-1">
                        <div class="reviwer-list-title">
                            Reviewers
                        </div>
                    </div>

                    <div class="top-grid-1-2">
                        <img src="images/addbutton.png"><!--PLACEHOLDER BUTTON-->
                    </div>

                </div>
                
            </div>
            
            <!-- TENGAH REVIEWERS LIST (3 kolom)-->
            <div class="reviewer-list-mid">
                <div class="list-grid-1">

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    
                </div>
                <div class="list-grid-1">
                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>
                </div>

                <div class="list-grid-1">
                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div> 
                </div>

                <div class="list-grid-1">
                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div>

                    <div class="reviewer-data-box">
                        <div>
                            <img src="images/Vector.png"> <!-- placeholder icon -->
                        </div>
                        <div class="reviewer-name">
                            <div class="reviewer-name-top">
                                Dr. Laura Cloudsmith
                            </div>
                            <div class="reviewer-name-bot">
                                Cloud Research Institute
                            </div>
                        </div>
                        <div>
                            <img src="images/edit.png" href="#" onclick="toggle()">
                        </div>
                        <div>
                            <img src="images/delete.png">
                        </div>
                    </div> 
                </div>

            </div>
            
            <!-- BAWAH button back-->
            <br>
            <br>
            <div class="reviewer-list-bot">
                <div class="back-button">
                    <button type="button" class="third-btn">
                        <a href="#" style="color:black; text-decoration: none;">Back</a>
                </div>
            </div>
        </div>
    </div>
    <div id="popup">
        <!-- atas -->
        <div class="popup-top">
            <div class="popup-close">
                <!-- placeholder icon -->
            </div>
            <img src="images/reviewericon.png" href="#" onclick="toggle()"> <!-- placeholder icon -->
        </div>
        <!-- form tengah -->
        <div class="popup-mid">
            <div class="form">
                <form>
                    <div class="input-form">
                        <label for="fname">Full name</label>
                        :
                        <input type="text" id="fname" name="fname">

                        <label for="email">Email</label>
                        :
                        <input type="email" id="email" name="email">

                        <label for="institution">Institution</label>
                        :
                        <input type="text" id="institution" name="institution">

                        <label for="scopusid">Scopus ID</label>
                        :
                        <input type="text" id="scopusid" name="scopusid">

                        <label for="scholarid">Scholar ID</label>
                        :
                        <input type="text" id="scholarid" name="scholarid">

                    </div>
                </form>
            </div>

        </div>
        <!-- bawah -->
        <div class="popup-bot">
            <div class="back-button">
                <button type="button" class="third-btn">
                    <a href="#" onclick="toggle()" style="color:black; text-decoration: none;">Cancel</a>
            </div>
            <div class="save-button">
                <button type="button" class="third-btn">
                    <a href="#" onclick="toggle()" style="color:black; text-decoration: none;">Save</a>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        function toggle(){
            var blur = document.getElementById('blur');
            blur.classList.toggle('active');
            var popup = document.getElementById('popup');
            popup.classList.toggle('active');
        }
    </script>

    

</body>
</html>