<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'reviewer/style/upload-data-styles.css' %}"> <!-- Menghubungkan file CSS -->
    <title>Upload Data OJS</title>
</head>
<body>
    <div class="container">
        <h1>Upload OJS Data</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="nested-container">
                {% csrf_token %}
                <input type="file" id="myFile" style="display:none" name="excel_file">
                {% load static %}
                <img src="{% static 'reviewer/images/ojss.png' %}" onclick="document.getElementById('myFile').click();" alt="Click to select a file" width="120" height="150">
                <p class="image-description">Upload OJS Data Here</p>
            </div>
            <a href="{% url "dashboard" %}">
                <button type="button" id="back-button">Back</button>
            </a>
            <input type="submit" value="Save and Continue"></input>
        </form>
    </div>
    
</body>
</html>
