<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Menghubungkan file CSS -->
    <title>Upload Data OJS</title>
</head>
<body>
    <div class="container">
        <h1>Upload OJS Data</h1>
        <div class="nested-container">
            <!-- Konten dalam nested container -->
            <input type="file" id="myFile" style="display:none">
            <img src="ojss.png" onclick="document.getElementById('myFile').click();" alt="Click to select a file" width="120" height="150">
            <p class="image-description">Upload OJS Data Here</p>
        </div>
        <button type="button" id="back-button">Back</button>
        <button type="submit">Save and Continue</button>
    </div>
    
    
</body>
</html>
