<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login First!</title>
  </head>
  <body>
    <div>Airlangga Journal Database Reviewer</div>
    <div>"Discovering Knowledge, One Review at a Time."</div>
    <form action="" method="POST" style="display: flex; flex-direction: column">
      {% csrf_token %}
      <div>Sign in</div>
      {{ form.email }}
      {{ form.password }}
      {{error}}
      <button type="submit">Sign In</button>
    </form>
  </body>
</html>
