<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login First!</title>
  </head>
  <body>
    <div>Airlangga Journal Database Reviewer</div>
    ini login page {{error}}
    <form action="" method="POST" style="display: flex; flex-direction: column">
      {% csrf_token %}
      <label>Email:</label>
      {{ form.email }}

      <label>Password:</label>
      {{ form.password }}

      <button type="submit">Login</button>
    </form>
  </body>
</html>
