{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Garamond%3A400%2C700" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700" />
    <link rel="stylesheet" href="{% static 'master/style/loginpage.css' %}" />
  </head>

  <body>
    <div class="loginPage">
      <h1>Airlangga Journal Database Reviewer</h1>
      <h2>"Discovering Knowledge, One Review at a Time."</h2>
      <div class="loginBox">
        <h3>Sign in</h3>
        <form id="flogin" action="" method="post">
          {% csrf_token %}
          <div
            class="email-wrapper {% if form.passwords.errors %}error-input{% endif %}"
          >
            {{form.email}}
          </div>
          <div
            class="password-wrapper {% if form.password.errors %}error-input{% endif %}"
          >
            {{form.password}}
          </div>
          <p class="error-message">{{ error }}</p>
          <button type="submit" class="loginBtn">Sign in</button>
        </form>
      </div>
    </div>
  </body>
</html>
