
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airlangga Journal Database Reviewer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>

    <!-- NAVBAR -->
    <!-- TOP TITLE -->

    <div class="file-uploader-top-title">
        <div class="center-column">
            <h1>
                Airlangga Journal Database Reviewer
            </h1>
            <h2>
                "Discovering Knowledge, One Review at a Time"
            </h2>
        </div>

    </div>

    <!-- FILE UPLOADER -->

    <div class="file-uploader-container">
        <div class="file-upload-box">
            <img src="images/Frame.png" alt="Upload File">
            <h3>
                Upload user data here
            </h3>

        </div>
    </div>

    <!-- FOOTER -->
    
</body>
</html>