<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airlangga Journal Database Reviewer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="recommended-reviewers-page">
        <div class="recommended-reviewers-container">

            <!-- BAGIAN ATAS (LIST REVIEWER) LEFT COLUMN-->

            <div class="recrev-container-1">
                <div class="left-column-1">
                    <h1>
                        Who do you want to review your paper?
                    </h1>
                    <br>
                    <!--PLACEHOLDER REVIEWER SELECTION-->

                    <!--reviewer 1-->
                    <div class="reviewer-list"> <!-- ini buat list reviewernya-->
                        <img src="images/Vector.png">
                        <div class="reviewer-list-content">
                            <h2>
                                Dr. Emily Datafield
                            </h2>
                            <h3>
                                Tech Institute of Innovation
                            </h3>
                        </div>
                        <img src="images/bidang data analytics.png">
                        <img src="images/bidang information security.png">
                        <img src="images/bidang blockchain technology.png">
                        <div class="choose-button">
                            <button type="button" class="primary-btn">
                                <a href="" style="color:white; text-decoration: none;">Choose</a>
                            </button>    
                        </div>                        
                    </div>

                    <!--reviewer 1-->
                    <div class="reviewer-list"> <!-- ini buat list reviewernya-->
                        <img src="images/Vector.png">
                        <div class="reviewer-list-content">
                            <h2>
                                Dr. Emily Datafield
                            </h2>
                            <h3>
                                Tech Institute of Innovation
                            </h3>
                        </div>
                        <img src="images/bidang data analytics.png">
                        <img src="images/bidang information security.png">
                        <img src="images/bidang blockchain technology.png">
                        <div class="choose-button">
                            <button type="button" class="primary-btn">
                                <a href="" style="color:white; text-decoration: none;">Choose</a>
                            </button>
                        </div>                        
                    </div>


                    <!--reviewer 1-->
                    <div class="reviewer-list"> <!-- ini buat list reviewernya-->
                        <img src="images/Vector.png">
                        <div class="reviewer-list-content">
                            <h2>
                                Dr. Emily Datafield
                            </h2>
                            <h3>
                                Tech Institute of Innovation
                            </h3>
                        </div>
                        <img src="images/bidang data analytics.png">
                        <img src="images/bidang information security.png">
                        <img src="images/bidang blockchain technology.png">
                        <div class="choose-button">
                            <button type="button" class="primary-btn">
                                <a href="" style="color:white; text-decoration: none;">Choose</a>
                            </button>    
                        </div>                        
                    </div>

                    <!--reviewer 1-->
                    <div class="reviewer-list"> <!-- ini buat list reviewernya-->
                        <img src="images/Vector.png">
                        <div class="reviewer-list-content">
                            <h2>
                                Dr. Emily Datafield
                            </h2>
                            <h3>
                                Tech Institute of Innovation
                            </h3>
                        </div>
                        <img src="images/bidang data analytics.png">
                        <img src="images/bidang information security.png">
                        <img src="images/bidang blockchain technology.png">
                        <div class="choose-button">
                            <button type="button" class="primary-btn">
                                <a href="" style="color:white; text-decoration: none;">Choose</a>
                            </button>
                        </div>                        
                    </div>


                    
                </div>
                <div class="right-column-1">
                    

                </div>

            </div>

            <!-- BAGIAN TENGAH (PILIHAN REVIEWER?? RATA KANAN) RIGHT COLUMN-->
            
            <div class="recrev-container-2">
                <div class="reviewer-detail-box">
                    <div class="grid-1">
                        <div>
                            <img src="images/Vector.png">
                        </div>
                        <div class="grid-1-1">
                            <div class="grid-1-1-nama">
                                Prof. Alan Networkson
                            </div>
                            <div class="grid-1-1-affilation">
                                CyberTech University
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="Research-interest">
                            Research Interest:
                        </div>
                    </div>
                    <div class="grid-3">
                        <div>
                            <img src="images/bidang network technology.png">
                        </div>
                        <div>
                            <img src="images/bidang cloud computing.png">
                        </div>
                        <div>
                            <img src="images/bidang iot in healthcare.png">
                        </div>
                        <div>
                            <button type="button" class="second-btn">
                                <a href="" style="color:black; text-decoration: none;">Choose</a>
                            </button>  
                        </div>
                    </div>
                </div>

                <div class="reviewer-detail-box">
                    <div class="grid-1">
                        <div>
                            <img src="images/Vector.png">
                        </div>
                        <div class="grid-1-1">
                            <div class="grid-1-1-nama">
                                Prof. Alan Networkson
                            </div>
                            <div class="grid-1-1-affilation">
                                CyberTech University
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="Research-interest">
                            Research Interest:
                        </div>
                    </div>
                    <div class="grid-3">
                        <div>
                            <img src="images/bidang network technology.png">
                        </div>
                        <div>
                            <img src="images/bidang cloud computing.png">
                        </div>
                        <div>
                            <img src="images/bidang iot in healthcare.png">
                        </div>
                        <div>
                            <button type="button" class="second-btn">
                                <a href="" style="color:black; text-decoration: none;">Choose</a>
                            </button>  
                        </div>
                    </div>
                </div>
                

            </div>

            <!-- BAGIAN BAWAH BACK SAMA SAVE-->
            <div class="recrev-container-3">
                <div class="back-button">
                    <button type="button" class="third-btn">
                        <a href="" style="color:black; text-decoration: none;">Back</a>
                </div>

                <div class="save-button">
                    <button type="button" class="third-btn">
                        <a href="" style="color:black; text-decoration: none;">Save and Continue</a>
                </div>

            </div>
        </div>

    </div>
    
</body>
</html>